target
test
lib
classes
checkouts
docker
deployment
pom.xml
pom.xml.asc
logs
.travis.yml
.gitignore
.editorconfig
.nrepl-port
GPATH
GRTAGS
gTAGS
*.md
LICENSE
*.pem
.DS_Store
*.class
/.lein-*
/.nrepl-port
