{:GITHUB_APP_IDENTIFIER ""
 :GITHUB_WEBHOOK_SECRET ""
 :GITHUB_PRIVATE_KEY ""
 :RMQ_HOST ""
 :RMQ_USER ""
 :RMQ_PASS ""
 :PR_STORE_PATH "./resources"
 :CLJ_ENV "development"
 :DEFAULT_INSTALLATION_ID 369297}
